name: Rust

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Check formatting
      run: cargo fmt -- --check

    - name: Run Clippy
      run: cargo clippy -- -D warnings

    - name: Run tests
      run: cargo test --verbose

    - name: Build
      run: cargo build --release --verbose

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: pumpkin-tabtps-${{ matrix.os }}
        path: |
          target/release/*.so
          target/release/*.dll
          target/release/*.dylib
        if-no-files-found: 'ignore'
